.navbar{
    color: white;
    align-content: center;
    &_nav{
    li {
        list-style-type: none;
        a {
            color: white;
          }
    }
    }
}

.logo{
    width:50px;
    align-content: center;
}

